DESCRIPTION="Core Linux Build Definition"
PRE_INSTALL_SCRIPTS=""
PRE_UNINSTALL_SCRIPTS=""
QUIT_ON_PRESCRIPT_FAILURE=0
DATAFILES="IDMAPD.rc"
RPMLIST=""
POST_INSTALL_SCRIPTS=""
POST_UNINSTALL_SCRIPTS=""
