DESCRIPTION="IDMAP configuration for NFSv4"
PRE_INSTALL_SCRIPTS=""
PRE_UNINSTALL_SCRIPTS=""
QUIT_ON_PRESCRIPT_FAILURE=0
DATAFILES=""
RPMLIST=""
POST_INSTALL_SCRIPTS="IDMAPD_post.sh"
POST_UNINSTALL_SCRIPTS=""
